[submodule "static/slate"]
	path = static/slate
	url = https://github.com/christopherpoole/slate
[submodule "static/modernist"]
	path = static/modernist
	url = https://github.com/christopherpoole/modernist
[submodule "static/minimal"]
	path = static/minimal
	url = https://github.com/christopherpoole/minimal
[submodule "static/spring"]
	path = static/spring
	url = https://github.com/siangzhang/spring
[submodule "_includes/wiki"]
	path = _includes/wiki
	url = https://github.com/siangzhang/siangzhang.github.io.wiki.git
