[submodule "static/slate"]
	path = static/slate
	url = https://github.com/christopherpoole/slate
[submodule "static/modernist"]
	path = static/modernist
	url = https://github.com/christopherpoole/modernist
