---
layout: szhang_default 
title: Siang ZHANG - Welcome!
source: Index
---

<style>
.custom-nav {
	z-index: 70;
	position: fixed;
	float: right;
	padding: 0;
    margin: 0;
    top: 10px;
	right: 10px;
    font-family: Arial;
	font-size: 14px;
	line-height: 16px;
	}
	.custom-nav ul {
		margin: 0px;
	}
	.custom-nav ul li {
		display: table-cell;
	}
	.custom-nav ul li a {
		border-radius: 2px;				/* Standard CSS3 */
		-moz-border-radius: 2px;			/* Gecko based */
		-webkit-border-radius: 2px;			/* Webkit based */
	
		display: block;
		border: none;
		margin-left: 5px;
		padding: 1px 6px;
    }
.custom-nav ul li a:link {
    text-decoration: none;
}
.custom-nav ul li a:visited {
    text-decoration: none;
}
.custom-nav ul li a:hover {
    text-decoration: underline;
}
.custom-nav ul li a:active {
    text-decoration: underline;
}
</style>

<div class="custom-nav">
<ul>
    <li><a href="#Recent">Recent</a></li>
    <li><a href="#About">About</a></li>
</ul>
</div>

<section id="Recent"></section>

<h1>Recent Notes</h1>

{% for post in site.posts limit:10 %}
    {% if post.source == Nil %}
    <a href="{{ post.url }}">{{ post.title }}</a>&nbsp;
    <span class="index_date"> {{ post.date | date_to_long_string }}</span>
    <hr/>
    {% endif %}
{% endfor %}

<h1>Blog Updates</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<!--section class="github-widget" data-repo="siangzhang/siangzhang.github.io"></section>
<script src="/javascripts/jquery.githubRepoWidget.js"></script-->
<section class="github-box-content"><table></table></section>
<script type="text/javascript">
var repo_name = 'siangzhang/siangzhang.github.io';
var html_encode = function (str) {
    if (!str || str.length == 0) return "";
    return str.replace(/</g, "&lt;").replace(/>/g, "&gt;");
};

$.ajax({
    url: 'https://api.github.com/repos/' + repo_name,
    dataType: 'jsonp',

    success: function (results) {
        var repo = results.data;
        console.log(results);
        //var pushed_at = repo.pushed_at.substr(0, 10);
        var url_regex = /((http|https):\/\/)*[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])?/
        if (repo.homepage && (m = repo.homepage.match(url_regex))) {
            if (m[0] && !m[1]) repo.homepage = 'http://' + m[0];
        }
        else {
            repo.homepage = '';
        }
		$.ajax({
	        url: 'https://api.github.com/repos/' + repo_name + "/issues?state=open&per_page=5&page=1&sort=updated",
	        dataType: 'jsonp',
	        success: function (results) {
	            var issues = results.data;
	            var $issues_table = $(".github-box-content table");
	            //$issues_table.append('<tr><td colspan="2"><a href="' + repo.html_url + '/issues" target="_blank"><strong>Issues</strong></a></td></tr>');
	            for (var i = 0; i < issues.length; i++) {
	                //var updated_at = issues[i].updated_at.substr(0, 10);
                    var updated_at = new Date(issues[i].updated_at);
	                $issues_table.append('<tr> \
							<td class="number" width="30">#' + issues[i].number + '</td> \
							<td class="info"><a href="' + issues[i].html_url.replace('https://github.com/' + repo_name + '/', '/Blog/#') + '">' + html_encode(issues[i].title) + '</a></td> \
							<td class="author" width="200" align="right">@<a href="' + issues[i].user.url.replace('api.', '').replace('users/', '')
	                    + '" target="_blank">' + issues[i].user.login
	                    + '</a><br/><em style="font-size:10pt">'
	                    //+ updated_at
                        + updated_at.toLocaleDateString() + '&nbsp;' + updated_at.toLocaleTimeString()
                        + '</em></td></tr> \
					');
	            }
	        }
		});
	}
});
</script>

<section id="About"></section>

<h1>Education Background</h1>

<table border="0">
    <tbody>
        <tr>
            <td>Tsinghua University, B.S., School of Sciences (Mathematics), <a href="http://math.tsinghua.edu.cn/"><span>Department of Mathematical Sciences</span></a>, 2010.<br />
            </td>
        </tr>
        <tr>
            <td>Tsinghua University, Ph.D. student, Computer Science,&nbsp;<a href="http://castu.tsinghua.edu.cn/"><span>Center for Advanced Study</span></a>&nbsp;(Advisor,&nbsp;<a href="http://iiis.tsinghua.edu.cn/yao/"><span>Prof. Andrew C. Yao</span></a>), 2012.</td>
        </tr>
        <tr>
            <td>Tsinghua University, Ph.D. student, Computer Science,&nbsp;<a href="http://cqi.tsinghua.edu.cn/"><span>Center for Quantum Information</span></a>&nbsp;(Advisor,&nbsp;<a href="http://iiis.tsinghua.edu.cn/yao/"><span>Prof. Andrew C. Yao</span></a><span>), 2013.<font /></td>
        </tr>
        <tr>
            <td>Tsinghua University, Ph.D. student, Physics,&nbsp;<a href="http://cqi.tsinghua.edu.cn/"><span>Center for Quantum Information</span></a>&nbsp;(Advisor,&nbsp;<a href="http://iiis.tsinghua.edu.cn/kihwan/"><span>Prof. Kihwan Kim</span></a><span>).</span></td>
        </tr>
    </tbody>
</table>

<h1>Selected Publications</h1>

<table border="0" width="80%">
    <tbody>
        <tr>
            <td valign="top" width="5%" align="left">1</td>
            <td><a href="http://www.thbook.com/scrp/bookdetail.cfm?iBookNo=390154&amp;sYc=1-1">&quot;Mathematical Theory of Computer Algebra System&quot;</a>, (with <a href="http://learn.tsinghua.edu.cn:8080/2006012033/homepage/"><span>Chao Li</span></a>, Wei Ruan and Long Zhang), <a href="http://www.tup.com.cn/book/Showbook.asp?CPBH=034908-01&amp;DJ=39"><span>Tsinghua University Press</span></a>,&nbsp;<span>ISBN: 9787302230106 (</span><span>2010)</span></td>
        </tr>
        <tr>
            <td valign="top" width="5%" align="left"><span>2</span></td>
            <td>&nbsp;<a href="http://link.aps.org/doi/10.1103/PhysRevLett.110.070401">&quot;State-independent experimental test of quantum contextuality with a single trapped ion&quot;</a>, (with&nbsp;<a href="http://iiis.tsinghua.edu.cn/markum/"><span>Mark Um</span></a>、<a href="http://iiis.tsinghua.edu.cn/zhangjh/"><span>Junhua Zhang</span></a>、<a href="http://iiis.tsinghua.edu.cn/anshuoming/"><span>Shuoming An</span></a>、<a href="http://iiis.tsinghua.edu.cn/wangye/"><span>Ye Wang</span></a>、<span>Dong-ling Deng</span>、<span>Chao Shen</span>、<span>Lu-Ming Duan</span>&nbsp;<span>and</span>&nbsp;<a href="http://iiis.tsinghua.edu.cn/kihwan/"><span>Kihwan Kim</span></a>),&nbsp;<a href="http://link.aps.org/doi/10.1103/PhysRevLett.110.070401"><span>Physical Review Letters</span></a>,&nbsp;110, 070401 (2013)<br type="_moz" />
            </td>
        </tr>
        <tr>
            <td valign="top" width="5%" align="left"><span>3</span></td>
            <td>&nbsp;&quot;Time Reversal and Charge Conjugation in an Embedding Quantum Simulator&quot;, (with Yangchao Shen、&nbsp;<a href="http://iiis.tsinghua.edu.cn/zhangjh/"><span>Junhua Zhang</span></a>、Jorge Casanova<span>、</span>Lucas Lamata<span>、</span>Enrique Solano<span>、</span>Man-Hong Yung<span>、</span>Jing-Ning Zh<span>ang an</span><span>d</span>&nbsp;<a href="http://iiis.tsinghua.edu.cn/kihwan/"><span>Kihwan Kim</span></a>),&nbsp;<a href="http://www.nature.com/ncomms/2015/150804/ncomms8917/full/ncomms8917.html"><span>Nature Communications</span></a>,&nbsp;6, 7917 (2015)</td>
        </tr>
    </tbody>
</table>

<h1>Outstanding Awards</h1>

<table border="0" width="80%">
    <tbody>
        <tr>
            <td valign="top" width="8%" align="left"><span class="year">2009</span></td>
            <td><span class="honor"><a href="http://news.tsinghua.edu.cn/publish/news/4205/2011/20110225232353546846979/20110225232353546846979_.html"><span>The Grand Prize</span></a><span> of The 11th &quot;Challenge Cup&quot; National Contest of College Students' Scientific and Technological work (See&nbsp;<a href="http://mathmu.cn/">http://mathmu.cn/</a>)</span><u><br />
            </u></span></td>
        </tr>
        <tr>
            <td valign="top" width="8%" align="left"><span class="year">2010</span></td>
            <td><span class="honor"><a href="http://news.tsinghua.edu.cn/publish/news/4205/2011/20110225232541875190560/20110225232541875190560_.html"><span>The Grand Prize</span></a><span> of The 7th &quot;Challenge Cup&quot; National Contest of College Students' Business Plan (See&nbsp;<a href="http://mathmu.com/">http://mathmu.com/</a>)</span><u><br />
            </u></span></td>
        </tr>
    </tbody>
</table>

<!--div markdown="1"><div-->
{% capture Links %}{% include Links.md %}{% endcapture %}
{{ Links | markdownify }}
