<div class="center">
<a href="/projects/973-genuine-quantum-network"><img src="/projects/973-genuine-quantum-network/loadion.png" width="75%"/></a><br/><a href="/projects/973-genuine-quantum-network">Quantum Computation and Simulation</a><hr/>
<video title="maTHmU software demo" poster="/projects/mathmu/demo.jpg" controls autoplay loop width="75%">
<source src="/projects/mathmu/demo.mp4" type="video/mp4" loop="true" />
<source src="/projects/mathmu/demo.webm" type="video/webm" loop="true" />
</video><br/><a href="/projects/mathmu">Computer Algebra System</a><hr/>
<a href="http://182.92.84.88/images/3DPrinter.mp4" target="_blank"><img src="http://182.92.84.88/images/picNews/news4.jpg" width="75%"/></a><br/><a href="http://182.92.84.88/images/3DPrinter.mp4" target="_blank">3D Printing</a><hr/>
</div>