<h3><a href="/Publications">Publications</a></h4>

<h3><a href="/Awards">Awards</a></h4>

<h3><a href="http://scholar.google.com.au/citations?hl=en&user=J1xGp_4AAAAJ">Citations</a></h4>

<h3><a href="/PhD-Thesis">PhD Thesis</a></h4>

<h3><a href="/Masters-Thesis">Masters Thesis</a></h4>

<h3><a href="https://github.com/christopherpoole">Github</a></h4>

<h3><a href="http://www.linkedin.com/profile/view?id=158611153&trk=tab_pro">Linked In</a></h4>

<h3><a href="http://gun.io/accounts/christopherpoole/">Freelance</a></h4>

