			<div class="scroll-top" style="display: block;"><a href="./"><i class="fa fa-arrow-circle-up"></i></a></div>
			<section id="disqus_thread"></section>
			<footer>
                <p><small>{{ site.copyright }}</small></p>
            </footer>
        </div>
        <script src="/static/minimal/javascripts/scale.fix.js"></script>
	{% if page.disqus or page.permalink == Nil or page.cover %}
		<script type="text/javascript">
			var disqus_shortname = 'szhang';
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
        {% if page.katex %}
        <script type="text/javascript">
          renderMathInElement(
              document.body,
              {
                  delimiters: [
                      {left: "$$", right: "$$", display: true},
                      {left: "\\[", right: "\\]", display: true},
                      {left: "$", right: "$", display: false},
                      {left: "\\(", right: "\\)", display: false}
                  ]
              }
          	);
			/*$("script[type='math/tex']").replaceWith(
			  function(){
			    var tex = $(this).text();
			    return "<span class=\"inline-equation\">" + 
			           katex.renderToString(tex) +
			           "</span>";
			});
			$("script[type='math/tex; mode=display']").replaceWith(
			  function(){
			    var tex = $(this).text();
			    return "<div class=\"equation\">" + 
			           katex.renderToString("\\displaystyle "+tex) +
			           "</div>";
			});*/
        </script>
        {% endif %}
        {% if page.highlight or page.code %}
        <script> hljs.initHighlightingOnLoad(); </script>
        {% endif %}
    </body>
</html>