---
layout: szhang_default 
title: Siang ZHANG - Notes
permalink: /:title
---

{% for post in site.posts %}
    {% if post.permalink == Nil %}
        {% if post.pdf %}
            <a href="/static/pdfs/{{ post.pdf }}">
                <img src="/static/pdf32.png" align="right">
            </a>
        {% endif %}
        <span class="index_date"> {{ post.date | date: "%Y/%m/%d" }}</span>
        &nbsp;-&nbsp;
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% if post.comments %}
            | <a href="{{ post.url }}#disqus_thread">{{ post.title }}</a>
        {% endif %}
        {% if post.introduction %}
            </br>
            {{ post.introduction }}
        {% endif %}
        {% if post.icon %}
            <img src="{{ post.icon }}" width="75%">
        {% endif %}
        {% if post.introduction or post.icon %}
            <p align="right"><a href="{{ post.url }}">Keep reading...</a></p>
        {% else %}
            </br></br>
        {% endif %}
        <hr/>
    {% endif %}
{% endfor %}